<h1>O nas</h1>
<header>Milanowski - znicze i wkłady</header>
<p>Tu będzie krótka historia firmy</p>
<%= link_to "Nasze produkty", static_pages_products_path %>
<%= link_to "Kontakt", static_pages_contact_path %>
